In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
%matplotlib inline

In [2]:
cars=pd.read_csv("Q9_a.csv")
cars

       Index  speed    dist
0          1   4.00    2.00
1          2   4.00   10.00
2          3   7.00    4.00
3          4   7.00   22.00
4          5   8.00   16.00
5          6   9.00   10.00
6          7  10.00   18.00
7          8  10.00   26.00
8          9  10.00   34.00
9         10  11.00   17.00
10        11  11.00   28.00
11        12  12.00   14.00
12        13  12.00   20.00
13        14  12.00   24.00
14        15  12.00   28.00
15        16  13.00   26.00
16        17  13.00   34.00
17        18  13.00   34.00
18        19  13.00   46.00
19        20  14.00   26.00
20        21  14.00   36.00
21        22  14.00   60.00
22        23  14.00   80.00
23        24  15.00   20.00
24        25  15.00   26.00
25        26  15.00   54.00
26        27  16.00   32.00
27        28  16.00   40.00
28        29  17.00   32.00
29        30  17.00   40.00
30        31  17.00   50.00
31        32  18.00   42.00
32        33  18.00   56.00
33        34  18.00   76.00
34        35  18.00   84.00
35        36  19.00   36.00
36        37  19.00   46.00
37        38  19.00   68.00
38        39  20.00   32.00
39        40  20.00   48.00
40        41  20.00   52.00
41        42  20.00   56.00
42        43  20.00   64.00
43        44  22.00   66.00
44        45  23.00   54.00
45        46  24.00   70.00
46        47  24.00   92.00
47        48  24.00   93.00
48        49  24.00  120.00
49        50  25.00   85.00
50  Skewness  -0.12    0.81
51  Kurtosis  -0.51    0.41
52      Mean  15.40   42.98
53    Median  15.00   36.00

In [4]:
cars.skew()

<ipython-input-4-c91fce41ca93>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cars.skew()

speed   -0.506251
dist     0.752890
dtype: float64

In [5]:
cars.kurt()

<ipython-input-5-6022755cf23c>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cars.kurt()

speed    0.250243
dist     0.446509
dtype: float64